<main class="main-style">

    <form id="formSubmit" method="post" name="validForm">
        <label class="label-info" for="palidromeText">Please input the text you want to valid</label>
        <br/>
        <textarea name="phrase" id="palidromeText" placeholder="enter the string to check"></textarea>
        <br/>
        <input value="Check" type="submit" class="bottomSubmit" name="bottomSubmit">
    </form>

    <div>
        <h2 class="palindromeList">Here is the palindrome list</h2>
        <ol id="attempts">

        </ol>
    </div>
</main>