<h1>{{title}}</h1>

<ol>

</ol>

<form>
    <textarea name="palindromeValid">

    </textarea>
</form>

<footer>Name: Yue Lin
        Student Id: 10479231
        Skills: Java, C++, JavaScript
</footer>