<form id="textSubmit" action="/test" method="post">
  <textarea name="content" id="editor">
  </textarea>
  <p><input type="submit" value="Submit" style="display: none;" ></p>
</form>

<script>
  ClassicEditor
    .create(document.querySelector('#editor'))
    .catch(error => {
      console.error(error);
    });
  document.getElementsByClassName('ck-file-dialog-button')[0].style.display = 'none';
  console.log(1213)
</script>