<main class="error">
    <h1> {{document_title}}</h1>

    {{#if error_message}}
    <p class="failure"> {{error_message}} </p>
    {{/if}}

    <p class="bottom_space"> Click here to <a href="/">Try Again</a> </p>
</main>