<h1>Characters Found</h1>
<h2 class="searchTerm"></h2>
<main>
    {{#if characters.length === 0}}
        <p class="not-found">We're sorry, but no results were found for {searchTerm}.</p>
    {{/if}}
    <ul>
        {{#each characters}}
        <li>
            <a href="/character/{{_id}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
    <a href="/">Make another search</a>
</main>
