* {
    box-sizing: border-box;
}

html,
body {
    font-size : larger;
    font-style: oblique;
}

body {
    background : #dedede;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif
}

main{
    color: cadetblue;
}

main p{
    color:coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 400;
    color    : brown;
    font-style: italic;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

#form-post-text{
    color:blue
}

.new-post-form {
	max-width: 300px;
}


.description {
    font-size: large;
    text-align: justify;
}

.form-label{
    font-size: 16px;
}

.character-input{
    font-size: larger;
    color: cyan;
}

.not-found{
    font-size: 30px;
    color: brown;
}

.marvelCharacter{
    font-size: 20px;
    color: darkorange;
}

img {
    width: 200;
    height: 200;
    border-radius: 8px;
    opacity: 0.7;
}

.searchTerm{
    font-size: 25px;
    font-weight: 400;
}