<form id="searchForm">
    <label for="search_term">
        <input id="search_term" type="text" name="searchText">
    </label>
    <button type="submit">Search</button>
</form>

<p id="errorMessage" hidden></p>

<ol id="showList" hidden>

</ol>

<div id="show" hidden>

</div>



<a href="/" id="homeLink" hidden>Back to All Shows</a>